<launch>
    <node pkg="camera_trigger_driver" type="gps_log_parser.py" name="gps_node" output = "screen" required="true">
    </node>
    <node pkg="camera_location_module" type="server_camera_location.py" name="camera_location_interpreter" required="true" output = "screen">
    </node>
    <node pkg="camera_trigger_driver" type="camera_trigger_driver" name="camera_trigger" output = "screen">
    </node>
    <node pkg="camera_trigger_driver" type="server_gps_heading.py" name="gps_heading_interpreter">
    </node>
    
</launch>